/* Mixins */
/*MIXINS*/
* {
  box-sizing: border-box; }

body, html {
  font-size: 14px; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3rem;
  margin: 15px 0; }

h3 {
  font-size: 2.4rem;
  margin: 15px 0; }

p {
  font-size: 1.2rem; }

table {
  border-collapse: collapse;
  width: 100%; }
  table th, table td {
    text-align: left;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    padding: 10px 15px; }

.main {
  margin: 0 auto;
  display: block;
  width: 100%;
  font-family: "Source Sans"; }
  @media (min-width: 768px) {
    .main {
      width: 540px; } }
  @media (min-width: 992px) {
    .main {
      width: 720px; } }
  @media (min-width: 1200px) {
    .main {
      width: 1140px; } }
  .main header {
    padding: 120px 0 30px; }
    .main header h1 {
      font-size: 4rem;
      margin: 0; }
    .main header small {
      font-size: 1rem; }

pre {
  background-color: #f7f7f7;
  padding: 30px 15px;
  line-height: 1.6;
  display: block; }
