/* Mixins */
/*MIXINS*/
.cf-select {
  position: relative;
  display: inline-block;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  max-width: 100%;
  min-width: 210px;
  box-sizing: border-box; }
  .cf-select * {
    box-sizing: border-box; }
  .cf-select > .cfs-toggle {
    display: block;
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    background-color: #f7f7f7;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out; }
    .cf-select > .cfs-toggle > .icon {
      float: right;
      vertical-align: middle;
      font-size: 24px;
      line-height: 45px; }
  .cf-select.open .cfs-options {
    height: inherit; }
  .cf-select .cfs-options {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    position: absolute;
    top: 100%;
    min-width: 100%;
    background-color: #fff;
    overflow: hidden;
    height: 0; }
    .cf-select .cfs-options ul {
      margin: 0;
      padding: 0;
      max-height: 160px;
      overflow-y: auto; }
      .cf-select .cfs-options ul > li {
        list-style-type: none;
        padding: 10px 15px;
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -ms-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
        cursor: pointer; }
        .cf-select .cfs-options ul > li:hover {
          background-color: #fafafa; }
  .cf-select .value {
    display: none; }

/* Animations*/
span.wave {
  position: absolute;
  width: 45px;
  height: 45px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  -ms-border-radius: 45px;
  -o-border-radius: 45px;
  border-radius: 45px;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  animation: waveAnim .1s ease-in-out; }

/* Chrome, Safari, Opera */
@-webkit-keyframes waveAnim {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

/* Standard syntax */
@keyframes waveAnim {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
