@font-face{
	src: url(../fonts/SourceSansPro-Regular.ttf);
	font-family: 'Source Sans';
	font-style: normal;
	font-weight: 400;
}

@font-face{
	src: url(../fonts/SourceSansPro-Light.ttf);
	font-family: 'Source Sans';
	font-style: normal;
	font-weight: 300;
}
@font-face{
	src: url(../fonts/SourceSansPro-Bold.ttf);
	font-family: 'Source Sans';
	font-style: normal;
	font-weight: 500;
}