@import 'variables';
@import 'mixins';

.cf-select{
	position: relative;
	display:inline-block;
	@include materialShadow(1);
	max-width: 100%;
	min-width: 210px;
	box-sizing: border-box;
	*{
		box-sizing: border-box;
	}
	>.cfs-toggle{
		display: block;
		height: $gutter * 3;
		line-height: $gutter * 3;
		padding: 0 $gutter;
		background-color: $bg-grey;
		cursor: pointer;
		overflow: hidden; 
		@include prefixer(transition,all .35s ease-in-out);
		>.icon{
			float: right;
			vertical-align: middle;
			font-size: 24px;
			line-height: $gutter * 3;
		} 
	}

	&.open{
		.cfs-options{
			height: inherit;
		}
	}

	.cfs-options{
		@include materialShadow(1);
		@include prefixer(transition,all .35s ease-in-out);
		position: absolute;
		top: 100%;
		min-width: 100%;
		background-color: $f-light;
		overflow: hidden;
		height: 0;
		z-index: 10;
		ul{
			margin: 0;
			padding: 0;
			max-height:160px;
			overflow-y: auto;
			>li{
				list-style-type: none;
				padding: 10px $gutter;
				@include prefixer(transition,all .35s ease-in-out);
				cursor: pointer;
				&:hover{
					background-color: #fafafa;
				}
			}
		}
	}

	.value{
		display: none;
	}
}

/* Animations*/
span.wave{
	position: absolute;
	width: $gutter * 3;
	height: $gutter * 3;
	background-color: rgba(255,255,255,0.2);
	@include prefixer(border-radius,$gutter * 3);
	@include prefixer(transform,scale(0));
	animation:waveAnim .1s ease-in-out;
}

@include keyframes(waveAnim){
	0%{@include prefixer(transform,scale(0))}
	100%{@include prefixer(transform,scale(1))}
}
