@import 'variables';
@import 'mixins';

.cf-select{
	position: relative;
	display:inline-block;
	@include materialShadow(1);
	max-width: 100%;
	min-width: 210px;
	box-sizing: border-box;
	*{
		box-sizing: border-box;
	}
	>.cfs-toggle{
		display: block;
		height: $gutter * 3;
		line-height: $gutter * 3;
		padding: 0 $gutter;
		background-color: $bg-grey;
		cursor: pointer;
		overflow: hidden;
		color: $f-dark;
		@include prefixer(transition,all .35s ease-in-out);
		>.icon{
			float: right;
			vertical-align: middle;
			font-size: 24px;
			line-height: $gutter * 3;
		} 
	}

	&.open{
		.cfs-options{
			height: inherit;
		}
	}

	.cfs-options{
		@include materialShadow(1);
		@include prefixer(transition,all .35s ease-in-out);
		position: absolute;
		top: 100%;
		min-width: 100%;
		background-color: $f-light;
		overflow: hidden;
		height: 0;
		z-index: 10;
		ul{
			margin: 0;
			padding: 0;
			max-height:160px;
			overflow-y: auto;
			>li{
				list-style-type: none;
				padding: 10px $gutter;
				@include prefixer(transition,all .35s ease-in-out);
				cursor: pointer;
				color: $f-dark;

				&:hover{
					background-color: #fafafa;
				}
			}
		}
	}

	.value{
		display: none;
	}
}

.cf-radio{
	cursor: pointer;
	display: inline-block;
	input[type="radio"]{
		visibility: hidden;
		position: absolute;
	}
	.cf-toggle{
		position: relative;
		width: 20px;
		height: 20px;
		display: inline-block;
		border: 1px solid $f-dark;
		@include prefixer(border-radius,20px);
		margin: 0  5px;
		vertical-align: middle;
		&:after{
			content: "";
			width: 12px;
			height: 12px;
			@include prefixer(border-radius,12px);
			position: absolute;
			top: 3px;
			left: 3px;
			background-color: $bg-dark;
			@include prefixer(transform,scale(0));
			@include prefixer(transition,all .35s ease-in-out);
		}
	}
	.cf-text{
		vertical-align: middle;

	}

	&.checked{
		.cf-toggle{
			&:after{
				@include prefixer(transform,scale(1));
			}
		}
		.cf-text{
			font-weight: 600;
		}
	}
}

/* Slot base styles */
.cf-slot{
	position: relative;
	width: $gutter * 7;
	height: $gutter * 2;
	>.ctrl{
		position: absolute;
		height: 100%;
		top: 0;
		border: 1px solid $f-dark;
		width: $gutter * 2;
		cursor: pointer;
		&.subs{
			left: 0;
		}
		&.add{
			right: 0;
		}
		.icon{
			display: block;
			line-height: $gutter * 2;
			text-align: center;
			font-size: 17px;
		}
	}
	.visible-frame{
		width: $gutter * 3;
		height: 100%;
		display: block;
		margin: 0 auto;
		overflow: hidden;
		border-top: 1px solid $f-dark;
		border-bottom: 1px solid $f-dark;
		>ul{
			@include prefixer(transition,left .35s ease-in-out);
			position: relative;
			padding-left: 0;
			margin: 0;
			display: flex;
			left: 0;
			li{
				width: $gutter * 3;
				vertical-align: middle;
				line-height: $gutter * 2;
				text-align: center;
				display: inline-block;
				white-space: nowrap;
			}
		}
	}
	.value{
		display: none;
	}
}



/* Animations*/
span.wave{
	position: absolute;
	width: $gutter * 3;
	height: $gutter * 3;
	background-color: rgba(255,255,255,0.2);
	@include prefixer(border-radius,$gutter * 3);
	@include prefixer(transform,scale(0));
	animation:waveAnim .1s ease-in-out;
}

@include keyframes(waveAnim){
	0%{@include prefixer(transform,scale(0))}
	100%{@include prefixer(transform,scale(1))}
}
